<!--100% betyder dette element fylder hele bredden, fordi den omgivende implitte flexbox er en row-->
<!--  fxLayoutAlign="start stretch" ( som er default ) betyder den starter til venstre og den strækkes på tværs af 'row' altså at den fylder hele højden-->
<!-- column betyder at indholdet er en kollonne - også selvom der kun er eet element-->
<mat-card fxLayout="column" fxFlex="1 1 0" style=" overflow-y: hidden">
  <!--100% betyder nu at den fylder hele højden fordi den ligger i en kolonne-->
  <!-- fxLayoutAlign="start stretch" er jo default, og betyder nu at den starter i toppen og indholdet strækkes i hele bredden-->
  <mat-card-title fxFlex="30px">Calendar</mat-card-title>
  <!--title ligger i en kolonne, så 30px betyder den er 30 pix høj-->
  <!-- fxLayoutAlign="start stretch" er jo default, og betyder nu at den starter i toppen og indholdet strækkes i hele bredden-->
  <mat-card-content
    class="ramme mat-elevation-z10"
    fxLayout="column"
    fxFlex="0 1 100%"
    style="overflow-y: hidden"
  >
    <!-- fxFlex='1 0 0' betyder den starter med 0 pix høj ( det sidste 0) men den kan vokse ( det første 1), så den kan tage alt der er til overs-->
    <!-- fxLayoutAlign="start stretch" er jo default, og betyder nu at den starter i toppen og indholdet strækkes i hele bredden-->
    <!--Da indholdet typisk fylder mere end vinduet er der sat en scrollbar på-->

    <div fxLayout="column" fxFlex="0 1 100%" style="overflow-y: scroll">
      <!-- sørger for at body kan scrolles. Hvis man satte display:block på table kan man også scrolle, men så virker width ikke -->

      <ng-content select="[content]"></ng-content>
    </div>
    <div class="mat-elevation-z10" style="min-height: 20px !important;"></div>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxFlex="50px" fxLayoutAlign="end center">
    <ng-content select="[actions]"></ng-content>
  </mat-card-actions>
</mat-card>

<!--
<mat-card
  class="mat-elevation-z5"
  fxLayout="column"
  fxFlex="1 1 45%"
  style="margin: 10px"
>
  <mat-card-title fxFlex="30px" style="color: blue">
    <ng-content select="[title]"></ng-content>
  </mat-card-title>

  <mat-card-content
    class="mat-elevation-z5"
    fxLayout="column"
    fxFlex="1 1 0"
    style=" margin-bottom: 10px; padding: 2em; "
  >
    <ng-content select="[content]"></ng-content>
  </mat-card-content>

  <mat-card-actions fxLayout="row" fxFlex="50px" fxLayoutAlign="end center">
    <ng-content select="[actions]"></ng-content>
  </mat-card-actions>
</mat-card>
-->
