<mat-toolbar class="mat-elevation-z10" color="primary">
Angular Material 2 App
</mat-toolbar>


<app-child>
  <div title>Login</div>
  <div content>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
  <p>dette er min krop</p>
</div>
  <div actions>
    <button>OK</button>
  </div>
</app-child>
