<div
  id="fileTotal"
  style="margin: 10px"
  class="ramme"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxFlex="0 0 100%"
>
  <mat-toolbar class="mat-elevation-z10" color="primary">
    Angular Material 2 App
  </mat-toolbar>

  <app-child>
    <div title>Login</div>
    <div style="height: 100%; overflow-y: scroll">
      <div content>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
        <p>dette er min krop</p>
      </div>
    </div>
    <div actions>
      <button>OK</button>
    </div>
  </app-child>
</div>
